In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [7]:
df = pd.read_csv(r"C:\Users\erdal\OneDrive\Masaüstü\course\data_pre_processing\Iris.csv")
names = df.columns

for index in range(len(df)):
    if index%2 != 0:
        df.at[index, "PetalLengthCm"] = None
    


print(df)
print("\n")
print(names)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            NaN           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            NaN           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            NaN           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            NaN           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            NaN           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]


Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [8]:
df.shape

(150, 6)

In [9]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            NaN           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            NaN           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit(df)

df = imp_mean.transform(df)
df = pd.DataFrame(df, columns=names)

print(df)

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'Iris-setosa'